<h3>Sign Up</h3>

<form action="/signup" method="post">
    <label>Username: <input type="text" name="username" /></label><br>
    <label>Email: <input type="text" name="email" /></label><br>
    <label>Password: <input type="password" name="password" /></label><br><br>
    <input type="submit" value="Sign Up" />
</form>